@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    overflow-x: hidden;
    font-family: "Plus Jakarta Sans", sans-serif;
}

#iframe-container {
    width: 100%;
    height: 100vh;
    margin-top: -5.3%;
    position: relative;
    cursor: none;
}

#iframe-container iframe {
    transform: scale(1.2);
    width: 100%;
    height: 100%;
}

#main-hero-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #064e3bcc;
    background-size: cover;
}

.navbar {
    z-index: 200;
    margin-bottom: 10%;
    background-color: #046143;
    color: #FFFFFF80;
    /* background-color: #ffffff; */
}

.active {
    color: #FFFFFF;
}

.navbar-brand,
a.nav-link {
    color: #FFFFFF80;
}

.navbar-brand:hover,
a.nav-link:hover {
    color: #FFFFFF;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
    font-size: 3.5rem;
}

#main-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    text-align: center;
    color: #FFFFFF;
    text-transform: capitalize;
}

#main-heading h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
}

#main-heading p {
    width: 55%;
    margin-top: 2%;
    font-size: 1.1rem;
    color: #FFFFFF80;
}

.jobSeekerBtnHeader,
#recruiterBtn {
    text-transform: capitalize;
    border: none;
    background-color: #059669;
    padding: .7rem;
}

.jobSeekerBtnHeader a,
#recruiterBtn a {
    text-decoration: none;
    color: #FFFFFF80;
    transition: 1s all ease-in-out;
}

.jobSeekerBtnHeader:hover,
#recruiterBtn:hover {
    background-color: #064e3bcc;
    transition: all 1s ease-in-out;
}

.jobSeekerBtnHeader a:hover,
#recruiterBtn a:hover {
    color: #010101;
}

/* how it work section styling  */
#howItWorks-section {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-top: 10%;
}

#works-heading,
.popular-jobs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#works-heading h1,
.popular-jobs h1 {
    font-size: 2rem;
    text-transform: capitalize;
    line-height: 1.5;
}

#works-heading p,
.popular-jobs p {
    color: #94A3B8;
    width: 60%;
}

#stepsToHire {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

#stepsToHire {
    margin: 5%;
    display: flex;
}

.steps {
    width: 30%;
}

.steps i {
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: 15px;
    color: #059669;
    background-color: #0596690D;
}

.steps h1 {
    margin-top: 5%;
    font-size: 1rem;
    text-transform: capitalize;
    color: #161C2D;
}

.steps p {
    margin: 1rem;
    color: #94A3B8;
}

#candidate-companies-section {
    background-image: url('../images/background-image-job-post.jpg');
    background-size: cover;
    background-position: -10%;
    background-repeat: no-repeat;
    margin-bottom: 10%;
}

#both-section-container {
    width: 100%;
    padding: 7%;
    background-color: #0f172a66;
    display: flex;
    gap: 5%;
    /* justify-content: space-between; */
}

#jobSeeker,
#recruiter {
    width: 90%;
}

#jobSeeker h1,
#recruiter h1 {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Plus Jakarta Sans", sans-serif;
    text-transform: capitalize;
    word-spacing: 1.2;
}

.lists-points {
    list-style-type: none;
}

.lists-points li {
    margin-left: -7%;
    color: #FFFFFF80;
    line-height: 1.7rem;
}

.lists-points li::before {
    font-size: .5rem;
    content: '\f00c';
    border: 1px solid #FFFFFF;
    padding: .13rem .2rem;
    border-radius: 50%;
    font-family: 'FontAwesome';
    color: #FFFFFF;
    margin-right: 3%;
}

.jobSeekerBtn {
    width: 36%;
    border: none;
    background-color: #059669;
    padding: .3rem;
    text-transform: capitalize;
    border-radius: 1.7rem;
    transition: all 1s ease-in-out;
}

.jobSeekerBtn a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
}

.jobSeekerBtn:hover {
    background-color: #0a2019;
}

.jobSeekerBtn a:hover {
    color: #FFFFFF;
}

/* popular jobs section  */
#popular-job-section {
    position: relative;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popular-jobs p {
    text-align: center;
    margin-bottom: 5%;
}

.popularJobs {
    margin-bottom: 20%;
}

.seeJobs {
    width: 20%;
    color: #94A3B8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.seeJobs a {
    text-decoration: none;
    text-transform: capitalize;
    color: #94A3B8;
    transition: all .3s;
}

.seeJobs:hover {
    color: #046143;
}

/* millions of jobs section  */
#millions-job-section {
    margin: 0 5% 15%;
    display: flex;
    align-items: center;
    gap: 15%;
}

.millions-heading h1 {
    color: #010101;
    font-size: 1.4rem;
    text-transform: lowercase;
    margin: 0;
    line-height: 1.5;
}

.millions-heading h1::first-letter {
    text-transform: uppercase;
}

.millions-heading p {
    margin-top: 1.3rem;
    color: #94A3B8;
}

.millions-list {
    list-style-type: none;
    margin-left: -5%;
}

.millions-list li {
    color: #94A3B8;
    text-transform: capitalize;
}

/* .millions-list li::first-letter {
    text-transform: uppercase;
} */

.millions-list li::before {
    font-size: .7rem;
    content: '\f00c';
    border: .1rem solid #046143;
    padding: .13rem .2rem;
    border-radius: 50%;
    font-family: 'FontAwesome';
    color: #046143;
    margin-right: 3%;
}

.girls-pic {
    display: flex;
}

.girl-image1 {
    position: relative;
    height: 70vh;
    border: .7rem solid #FFFFFF;
    border-radius: 1.2rem;
}

.girl-image2 {
    margin-top: 16%;
    right: 55%;
    position: absolute;
    height: 50vh;
    border: .5rem solid #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: .7rem;
}

#contact-btn {
    width: 30%;
    margin-top: 7%;
    border-radius: .2rem;
    padding: .3rem;
}

#contact-btn a {
    color: #FFFFFF;
}

.fa-envelope {
    margin-right: .7rem;
}

/* cards styling */
#card-container {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3%;
}

.card {
    width: 25%;
    height: 70vh;
    text-transform: capitalize;
    border: 1px solid #059669 !important;
}

.card-icons-container {
    width: 100%;
    height: 5rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img.card-logo {
    height: 3.7rem;
    width: auto;
    border: 1px solid #FFFFFF;
    padding: .5rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.fa-heart {
    cursor: pointer;
    color: #e5e7eb;
}

.fa-bookmark {
    cursor: pointer;
    color: #059669;
}

h5.card-title {
    font-size: 1rem;
    margin-bottom: 1.2rem;
}

h6.card-subtitle {
    font-size: 1.2rem;
    color: #161C2D;
}

p.card-text {
    margin-top: .5rem;
    font-size: .7rem;
    color: #94A3B8;
}

.card-text-ul {
    margin-left: -15%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
}

.card-text-ul li {
    color: #8d16ae;
    background-color: #ede8ef;
    font-size: .7rem;
    font-weight: 600;
    padding: .2rem .4rem;
    margin: .2rem;
    border: none;
    border-radius: 2rem;
}

.card-link {
    text-decoration: none;
    color: #059669;
    font-weight: 600;
    background-color: #e7f3ef;
    border: none;
    border-radius: 2rem;
    padding: .3rem .6rem;
    transition: all 1.2s;
}

.card-link:hover {
    background-color: transparent;
    color: #046143;
}

#footer {
    text-transform: capitalize;
    text-align: center;
    padding: 1%;
    background-color: #161C2D;
    color: #FFFFFF;
}

/* form page styling  */
.reg-page-bg-container {
    width: 100%;
    height: 100vh;
    position: fixed;
}

.form-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url('../images/job_reg_bg.jpg');
    transform: scale(1.6);
    background-size: cover;
    overflow: hidden;
    top: -30%;
}

.reg-page-form {
    /* background-color: #059669; */
    width: 50%;
    height: 70%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* transform: translate(50%, 30%); */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-transform: capitalize;
    overflow-y: auto;
}

.reg-page-form::-webkit-scrollbar {
    display: none;
}

.reg-page-form {
    scrollbar-width: none;
}

.name {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.label-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 2% 0;
}

.reg-page-form #name-container {
    width: 47%;
    gap: 7%;
    display: flex;
    flex-direction: row;
}

.form-heading {
    margin-bottom: 1.8%;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

.label-container label {
    font-size: .8rem;
    font-weight: 600;
}

.upload-resume input {
    border: 1px solid black;
}

.submit-reg-form {
    font-size: .8rem;
    border: none;
    color: #FFFFFF;
    background-color: #046143;
    padding: .3rem .9rem;
    transition: all .7s ease-in-out;
}

.submit-reg-form:hover {
    border: 1px solid #046143;
    color: #010101;
    background-color: #FFFFFF;
}