<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>application submitted</title>
</head>
<link rel="stylesheet" href="/css/style.css">

<style>

</style>
<!-- fontawesome icon link -->
<script src="https://kit.fontawesome.com/c058ee3c3f.js" crossorigin="anonymous"></script>

<body>
    <div class="application">
        <i class="fa-solid fa-circle-check"></i>
        <h1>application submitted successfully</h1>
        <p>thank you for applying the job. your application submitted successfully.</p>
    </div>
</body>

</html>