<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/layout')%>
</head>

<body>
    <%- include('partials/navbar')%>
        <h1>Add job details</h1>
        <button class="submit-reg-form" type="submit"><a href="./recruiterLogin">Logout</a></button>
</body>

</html>