<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- stylesheet added  -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- fontawesome icon link -->
    <script src="https://kit.fontawesome.com/c058ee3c3f.js" crossorigin="anonymous"></script>

    <!-- bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <title>Job Details</title>
</head>

<body>
    <div id="main-container-section">
        <div id="iframe-container">
            <iframe
                src="https://www.youtube.com/embed/JsNvHJsufhI?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=JsNvHJsufhI&mute=1"
                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

        <div id="main-hero-container">
            <%- include('partials/navbar')%>
                <div id="main-heading">
                    <h1 class="jobSeeker">got talent?</h1><br>
                    <h1>meet opportunity</h1>
                    <p>Find Jobs, Employment & Career Opportunities. Some of the companies we've helped recruit
                        excellent applicants over the years.</p>
                </div>

                <button class="jobSeekerBtnHeader"><a href="/allJobs">I'm a jobSeeker</a></button>
                <button id="recruiterBtn"><a href="#">I'm a Recruiter</a></button>

        </div>
    </div>

    <div id="howItWorks-section">
        <div id="works-heading">
            <h1>how it's works?</h1>
            <p>Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over
                30000+ companies worldwide.</p>
        </div>
        <div id="stepsToHire">
            <div id="createAccount" class="steps">
                <i class="fa-solid fa-laptop"></i>
                <h1>create account</h1>
                <p>The phrasal sequence of the is now so that many campaign and benefit</p>
            </div>
            <div id="completeYourProfile" class="steps">
                <i class="fa-solid fa-clock"></i>
                <h1>complete your profile</h1>
                <p>The phrasal sequence of the is now so that many campaign and benefit</p>
            </div>
            <div id="applyJob" class="steps">
                <i class="fa-solid fa-camera"></i>
                <h1>apply job or hire</h1>
                <p>The phrasal sequence of the is now so that many campaign and benefit</p>
            </div>
        </div>
    </div>

    <div id="candidate-companies-section">
        <div id="both-section-container">
            <div id="jobSeeker">
                <h1>register for jobseeker</h1>
                <ul class="lists-points">
                    <li> It has survived not only five centuries</li>
                    <li> There are many variations of passages</li>
                </ul>
                <button class="jobSeekerBtn"><a href="./applyNow">apply now</a></button>
            </div>
            <div id="recruiter">
                <h1>register for recruiter</h1>
                <ul class="lists-points">
                    <li>Many desktop publishing packages</li>
                    <li>Contrary to popular belief</li>
                    <li>It is a long established fact that a reader</li>
                </ul>
                <button class="jobSeekerBtn"><a href="#">post jobs</a></button>
            </div>
        </div>
    </div>
    <!-- popular jobs section  -->
    <div id="popular-job-section">
        <div class="popular-jobs">
            <h1>popular jobs</h1>
            <p>Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over
                30000+ companies worldwide.</p>
        </div>
        <div class="popularJobs"><%- include('partials/alljobs')%>
        </div>
        <div class="seeJobs">
            <a href="/allJobs">see more jobs</a><i class="fa-solid fa-arrow-right"></i>
        </div>
    </div>
    <!-- section for millions of job content -->
    <div id="millions-job-section">
        <div class="girls-pic">
            <img class="girl-image1" src="/images/girls-big-image.jpg" alt="girls image one">
            <img class="girl-image2" src="/images/girls-small.jpg" alt="girls image two">
        </div>
        <div class="millions-heading">
            <h1>millions of jobs <br>
                Find the one that's right for you.</h1>
            <p>Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over
                30000+ companies worldwide.</p>
            <ul class="millions-list">
                <li>digital marketing solution for tomorrow.</li>
                <li>our talented & experienced marketing agencies.</li>
                <li>create your own skin </li>
            </ul>
            <button class="jobSeekerBtnHeader" id="contact-btn"><a href="#"><i class="fa-solid fa-envelope"></i>contact
                    us</a></button>
        </div>
    </div>
    <%- include('partials/footer')%>
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>

</html>