<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/layout')%>

        <title>Recruiter Registration</title>
</head>

<body>
    <div class="reg-page-bg-container">
        <%- include('partials/navbar')%>
            <div class="errors-list">
                <% if(errors && errors.length>0){%>
                    <ul>
                        <% errors.forEach(error=>{%>
                            <li>
                                <%=error.msg%>
                            </li>
                            <%})%>
                    </ul>
                    <%}%>
            </div>
            <!-- login form for the recruiter -->
            <!-- <form action="./recruiterRegister.ejs" method="post" enctype="multipart/form-data"> -->
            <div class="form-container"></div>
            <form class="reg-page-form" action="/recruiterLogin" method="post">
                <h1 class="form-heading">Recruiter login</h1>
                <div class="name" id="name-container">
                    <div class="label-container">
                        <label for="workemail">Work Email:</label>
                        <input type="email" name="email" id="workemail">
                    </div>
                </div>
                <div class="name" id="name-container">
                    <div class="label-container">
                        <label for="passwordIs">Password:</label>
                        <input type="password" name="password" id="passwordIs">
                    </div>
                </div>
                <p>don't have an account?click <a href="/recruiterRegister">here</a></p>
                <button class="submit-reg-form" type="submit">Login</button>
            </form>

            </form>
</body>

</html>